.mainPnlCss{
    border:5px solid #99d4ff !important;
    padding:10% !important;
}
.myTitleCss{
    font-size:24px !important;
    color:blue !important;
    font-weight:bold !important;
}
.myTextCss{
	font-size:16px !important;
}
.myTopicCss{
	font-size:16px !important;
	font-weight:bold !important;
	width:50% !important;
}
.myInputTextCss{
	width:38% !important;
	height:100px !important;
}
.myBasicInfoCss{
    font-size:16px !important;
	font-weight:bold !important;
	width:50% !important;
}
.submitBtnCss{
	background-color:blue !important;
    color:white !important;
    padding:1% 2% !important;
    border-radius:8px !important;
    margin:1% 15%!important;
}
.myPageCss{
	font-size:20px !important;
	background-color:#dbd0d0 !important;
}
.myMarginCss{
    margin: 5px 10px !important;
}
.arrange{
    display:grid;
    grid-template-columns: 25% 25%;
}
.inputWidth{
	width:55% !important;
}